<ng-container *ngIf="task$ |  async as movies">
  <app-tarjeta (eventMovie)="getFavortiesMovies($event)" *ngFor="let movie of movies" [movie]="movie">
  </app-tarjeta>
</ng-container>




<!-- <div class="contenedor">
  <section *ngIf="!!search" class="character__list" infiniteScroll (scrolled)="onScrollDown()">
    <app-tarjeta (eventMovie)="getFavortiesMovies($event)" *ngFor="let movie of search" [movie]="movie"></app-tarjeta>
    <button *ngIf="showButton" (click)="onScrollTop()" class="button">⬆️</button>
  </section>
</div> -->
