section.character__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  max-width: 1300px;
}

.container {
  display: flex;
  justify-content: center;
}

.navBar {
  display: flex;
  justify-content: center;
  width: auto;
}
@media (min-width: 700px) {
  .navBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
