<article class="card">
  <a [routerLink]="['description/', movie?.imdbID]" class="card__link">
    <figure>
      <img rel="preload" as="image" class="movieImg" [src]="movie?.Poster" [alt]="movie?.Title" />
    </figure>
  </a>
  <div class="card__details">
    <figure class="card__favorite">
      <img (click)="setFavorite()" rel="preload" as="image" src="../../../../../assets/images/{{getIcon()}}"
        [alt]="movie?.Title" />
    </figure>
    <h3>{{movie?.Title}}</h3>
    <p><strong> {{ 'TITLE.ANHO' | translate }}</strong>:</p>{{movie?.Year}}
  </div>
</article>
