<article class="card">
  <a [routerLink]="['/home/description', movie?.imdbID]" class="card__link">
    <figure>
      <img class="img__movie" rel="preload" as="image" [src]="getPoster()" [alt]="movie?.Title" />
    </figure>
  </a>
  <div class="card__details">
    <figure class="card__favorite">
      <img (click)="setFavorite()" rel="preload" as="image" src="../../../../../assets/images/{{getIcon()}}"
        [alt]="movie?.Title" />
    </figure>
    <h3>{{movie?.Title | MaxCharapters: 44}}</h3>
    <p><strong> {{ 'TITLE.ANHO' | translate }}</strong>:</p>{{movie?.Year}}
  </div>
</article>
